<% set_meta_tags title: 'Sign Up',
                 description: 'Member sign up page.',
                 keywords: 'Site, Login, Members', noindex: true, nofollow: true %>
                 
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4">
      <div class="card mt-4 shadow-sm">
        <div class="card-body">
          <h2 class="card-title">Sign Up</h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group mb-4">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :password do %>
                Password
                <% if @minimum_password_length %>
                  <span class="font-italic text-muted text-small">(<%= @minimum_password_length %> characters minimum)</span>
                <% end %>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
            </div>
            <div class="actions mt-4">
              <%= f.submit "Sign up", class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>