<div class="container">
  <%= simple_form_for [@project.becomes(Project), @responsibility.becomes(Responsibility)] do |f| %>
    <%= f.error_notification %>
    <%= f.input :responsable_gid, collection: User.all, label_method: :name, value_method: :to_global_id %>
    <%= f.input :type, collection: Responsibility.types %>

    <%= f.submit %>
  <% end %>
</div>